@font-face {
  font-family: League;
  src: url(/fonts/league-gothic.regular-webfont.ttf);
  src: url(/fonts/league-gothic.regular-webfont.woff);
  src: url(/fonts/league-gothic.regular-webfont.eot);
  src: url(/fonts/league-gothic.regular-webfont.svg);
  src: url(/fonts/league-gothic.regular-webfont.woff2); }
@font-face {
  font-family: OpenSansCond;
  src: url(/fonts/OpenSans-CondBold.eot);
  src: url(/fonts/OpenSans-CondBold.svg);
  src: url(/fonts/OpenSans-CondBold.ttf);
  src: url(/fonts/OpenSans-CondBold.woff); }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #ffffff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

i.icon-search:after {
  content: "";
  background: url("/img/Vector%20Smart%20Object1.png") no-repeat 100% 100%;
  width: 20px;
  display: inline-block;
  height: 20px;
  background-size: cover;
  position: relative;
  top: 5px;
  margin-top: -5px; }
i.icon-down:after {
  left: 93%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 5px;
  margin-top: -5px; }

body {
  height: 100%; }

header {
  min-height: 44px;
  background: rgba(0, 75, 142, 0.7);
  padding: 5px 90px; }
  header .desktop .logo {
    display: block;
    float: left; }
    header .desktop .logo img {
      width: 100px; }
  header .desktop .user-block {
    float: right;
    margin-top: 7px;
    border-left: 1px solid #ffffff;
    margin-left: 5px;
    padding-left: 5px; }
    header .desktop .user-block span {
      color: #ffffff;
      font-family: OpenSansLight;
      font-size: 13px;
      position: relative;
      cursor: pointer; }
      header .desktop .user-block span i:after {
        top: 75%;
        left: 110%; }
    header .desktop .user-block .dropdown {
      display: none;
      position: absolute; }
      header .desktop .user-block .dropdown li {
        list-style: none; }
  header .desktop .right-block {
    float: right;
    margin-top: 7px; }
    header .desktop .right-block ul {
      list-style: none; }
      header .desktop .right-block ul li {
        margin-right: 17px;
        list-style: none;
        display: inline-block; }
        header .desktop .right-block ul li a {
          text-transform: uppercase; }
  header .mobile {
    display: none; }

nav {
  min-height: 95px;
  width: 100%;
  background: #ffffff;
  padding: 0 70px 0 90px; }
  nav ul {
    list-style: none;
    display: block;
    height: 95px; }
    nav ul li {
      height: 100%;
      float: left;
      list-style: none;
      display: inline-block;
      border-left: 1px solid #bfd2e2;
      padding: 0 30px; }
      nav ul li:last-child {
        border-right: 1px solid #bfd2e2; }
      nav ul li a {
        display: block;
        color: #094798;
        position: relative;
        text-transform: uppercase;
        height: 100%; }
        nav ul li a:hover {
          text-decoration: none; }
        nav ul li a > p {
          width: 100%;
          font-family: OpenSans;
          font-size: 13px;
          line-height: normal;
          text-align: center; }
        nav ul li a > div {
          margin-top: 10px;
          font-family: League;
          font-size: 36px;
          text-align: center; }
          nav ul li a > div .icon {
            position: relative;
            display: inline-block;
            width: 31px;
            height: 31px; }
            nav ul li a > div .icon:before {
              content: "";
              display: inline-block;
              background-size: cover;
              width: 100%;
              height: 100%; }
            nav ul li a > div .icon.icon-airplane:before {
              background: url("/img/icon_airplane.png") no-repeat 100% 100%; }
            nav ul li a > div .icon.icon-palm:before {
              background: url("/img/icon_palm.png") no-repeat 100% 100%; }
            nav ul li a > div .icon.icon-people:before {
              background: url("/img/icon_people.png") no-repeat 100% 100%; }
        nav ul li a i.icon-down:after {
          top: 95%;
          left: 50%;
          border-top-color: #094798;
          border-width: 10px;
          margin-top: -10px; }
        nav ul li a.blue-btn {
          display: block;
          position: relative;
          top: 20px;
          width: 115px;
          height: 54px;
          line-height: 54px;
          background-color: #094798;
          color: white;
          text-align: center;
          margin: 0 auto; }
      nav ul li .logo-small {
        width: 48px;
        height: 42px;
        margin: 26px auto; }
        nav ul li .logo-small img {
          width: 100%;
          height: 100%; }

.container {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 30%; }

.owl-carousel .owl-stage .owl-item .item .content {
  position: absolute;
  margin: 15% auto;
  width: 100%;
  text-align: center;
  z-index: 2; }
  .owl-carousel .owl-stage .owl-item .item .content h2 a {
    font-family: OpenSansCond;
    font-size: 69px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 48px; }
  .owl-carousel .owl-stage .owl-item .item .content p {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    width: 25%;
    line-height: normal; }
  .owl-carousel .owl-stage .owl-item .item .content .btn {
    font-family: OpenSansCond;
    color: #fff;
    font-size: 24px;
    line-height: normal;
    background: #febc11;
    display: block;
    width: 275px;
    padding: 10px 0;
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
    position: relative;
    text-transform: uppercase; }
    .owl-carousel .owl-stage .owl-item .item .content .btn:after {
      left: 93%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-left-color: #ffffff;
      border-width: 10px;
      margin-top: -10px; }
.owl-carousel .owl-stage .owl-item .item .bg-img {
  position: relative; }
  .owl-carousel .owl-stage .owl-item .item .bg-img div {
    background: #000000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  .owl-carousel .owl-stage .owl-item .item .bg-img img {
    height: 600px; }
.owl-carousel .owl-controls {
  position: absolute;
  bottom: 10px;
  right: 10%; }
  .owl-carousel .owl-controls .owl-dots .owl-dot {
    display: inline-block;
    float: left; }
    .owl-carousel .owl-controls .owl-dots .owl-dot:hover span, .owl-carousel .owl-controls .owl-dots .owl-dot.active span {
      background: #ffb900; }
    .owl-carousel .owl-controls .owl-dots .owl-dot.active span {
      width: 17px;
      height: 17px;
      margin-top: 0; }
    .owl-carousel .owl-controls .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #ffffff;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -moz-transition: opacity 200ms ease;
      -ms-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px; }

@media screen and (min-width: 1440px) {
  nav ul li {
    padding: 0 1%;
    width: 14.2857%; }

  .owl-carousel .owl-stage-outer .owl-stage .owl-item .bg-img img {
    height: 700px; } }
@media screen and (max-width: 480px) {
  header {
    background: #ffffff;
    padding: 0; }
    header .desktop {
      display: none; }
    header .mobile {
      display: inline-block;
      border-bottom: 1px solid #e4e4e4;
      box-shadow: 0 0 3px #e4e4e4; }
      header .mobile > div {
        float: left;
        width: 60%;
        padding: 0;
        margin-right: 28px;
        cursor: pointer; }
        header .mobile > div:first-child {
          width: 26px;
          padding: 17px 0;
          margin-left: 8px;
          position: relative;
          margin-right: 33px; }
          header .mobile > div:first-child .icon-down:after {
            transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            -webkit-transition: all .3s;
            border-top-color: #0e4d8c;
            left: 120%; }
          header .mobile > div:first-child.open .icon-down:after {
            transform: rotate(180deg);
            margin-top: -10px; }
        header .mobile > div.right-block-mobile {
          width: 22px;
          padding: 17px 0;
          margin-right: 0; }
        header .mobile > div.main-logo {
          position: relative; }
          header .mobile > div.main-logo:after, header .mobile > div.main-logo:before {
            position: absolute;
            width: 1px;
            height: 100%;
            content: "";
            background: #e4e4e4;
            top: 0; }
          header .mobile > div.main-logo:after {
            right: -15px; }
          header .mobile > div.main-logo:before {
            left: -13px; }
        header .mobile > div img {
          width: 100%; }
      header .mobile .sub-block {
        display: none; }
        header .mobile .sub-block ul li a {
          display: inline-block;
          height: 30px;
          width: 100%;
          background: #0e4d8c;
          text-align: center;
          cursor: pointer; }

  nav {
    padding: 0;
    display: none;
    min-height: 0; }
    nav ul li {
      padding: 0;
      width: 25%;
      height: 50px;
      border-top: 1px solid #e4e4e4;
      border-color: #e4e4e4; }
      nav ul li:first-child {
        display: none; }
      nav ul li a > div {
        margin-top: 0; }
        nav ul li a > div:last-child {
          display: none; }
      nav ul li .blue-btn {
        width: 79px !important;
        top: 0 !important; }
      nav ul li:nth-child(2), nav ul li:nth-child(3) {
        border-top: 0;
        width: 50%; }
        nav ul li:nth-child(2) a > div, nav ul li:nth-child(3) a > div {
          display: block;
          font-size: 26px; }
          nav ul li:nth-child(2) a > div .icon-down:after, nav ul li:nth-child(3) a > div .icon-down:after {
            top: 50%;
            left: 90%;
            border-width: 5px;
            margin-top: -10px;
            transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg); }
        nav ul li:nth-child(2) p, nav ul li:nth-child(3) p {
          display: none; }
      nav ul li:nth-child(3) span {
        width: 99px;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }

  .container {
    position: static; }

  .owl-carousel .owl-stage-outer .owl-stage .owl-item .content {
    margin: 30% auto;
    text-align: left;
    width: 55%; }
    .owl-carousel .owl-stage-outer .owl-stage .owl-item .content h2 a {
      font-size: 35px;
      line-height: 35px; }
    .owl-carousel .owl-stage-outer .owl-stage .owl-item .content p, .owl-carousel .owl-stage-outer .owl-stage .owl-item .content a.btn {
      display: none; }
  .owl-carousel .owl-stage-outer .owl-stage .owl-item .bg-img img {
    height: 180px; } }

/*# sourceMappingURL=style.css.map */
